<div class="cards__search-container">
    <app-hero-alphbetical-select></app-hero-alphbetical-select>
    <app-hero-search class="cards__search"></app-hero-search>
</div>


<div class="cards__container">
    <ng-container *ngIf="heroes$ | async; else notFound">
        <app-hero-select-card
            class="card__container"
            *ngFor="let hero of heroes$ | async" [hero]="hero">
        </app-hero-select-card>
    </ng-container>

    <ng-template #notFound>
        No matches
    </ng-template>
</div>


