<div class="signup-form__container">
    <form class="signup-form__form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <h2>SIGN UP</h2>
        <div class="form__container">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput class="form__input" type="text" placeholder="Enter your username"
                       formControlName="username" autocomplete="off">
                <mat-error *ngIf="signupForm.get('username').hasError('usernameStrength')">
                    {{ signupForm.get('username').errors?.['usernameStrength']}}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput class="form__input" type="email" placeholder="Enter your email"
                       formControlName="email" autocomplete="off">
                <mat-error *ngIf="signupForm.get('email').hasError('emailStrength')">
                    {{ signupForm.get('email').errors?.['emailStrength']}}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput class="form__input" type="password" placeholder="Enter password"
                       formControlName="password" autocomplete="off">
                <mat-error *ngIf="signupForm.get('password').hasError('passwordStrength')">
                    {{ signupForm.get('password').errors?.['passwordStrength'] }}
                </mat-error>
                <mat-error *ngIf="signupForm.hasError('passwordMatch')
                && signupForm.get('password').touched && signupForm.get('password').dirty"
                >-password shouldn`t contain parts of email or username
                </mat-error>
            </mat-form-field>
        </div>
        <div class="signup-form__actions">
            <button
                [routerLink]="['../', 'login']"
                type="button"
                class="form__button"
                mat-flat-button
                color="primary">LOG IN
            </button>
            <button
                [disabled]="signupForm.invalid"
                class="form__button"
                mat-flat-button
                color="primary">SIGN UP
            </button>
        </div>
    </form>
</div>
